
<div class="one column trans_data"><%= transactions.created_at.strftime("%m/%d") %></div>
<div class="one column trans_data"><%= transactions.account.child.first_name %></div>
<div class="two columns trans_data"><%= transactions.account.name %></div>
<div class="four columns trans_data"><%= transactions.description %></div>
<div class="two columns trans_data"><%= "+" if transactions.is_credit == "true" %><%= "-" if transactions.is_credit == "false" %><%= transactions.amt_change %></div>
<div class="two columns trans_data"><%= transactions.end_balance %></div>