<div class='profile'>
  <h1><%= profile.first_name %> <%= profile.last_name %> <%= link_to 'edit', profile_edit_path  %> </h1>
  <ul>
    <li><%= profile.email %></li>
    <li><%= profile.text_number %></li>
  </ul>
</div>
