<div class="forms">

  <div class="title">New Transaction</div>

  <%= form_tag do %>

    <div class='field'>
      <span class="acct_label"><%= label_tag 'Owner:' %></span>
      <span class="acct_field"><%= @account.child.first_name %></span>
    </div>

    <div class='field'>
      <span class="acct_label"><%= label_tag 'Account:' %></span>
      <span class="acct_field"><%= @account.name %></span>
    </div>

    <div class="field">
      <span class="acct_label"><%= label_tag 'Type:' %></span>
      <span class="acct_field"><%=  "Credit" if @is_credit == "true" %>
      <%=  "Debit" if @is_credit == "false" %></span>
    </div>

    <div class='field'>
      <%= label_tag 'Description:' %>
      <%= text_field_tag 'new_transaction[description]' %>
    </div>

    <div class='field'>
      <%= label_tag 'Amount' %>
      <%= text_field_tag 'new_transaction[amt_change]' %>
    </div>

    <div class='field'>
      <%= submit_tag "Submit", :class => "secondary button" %>
    </div>

  <% end %>

</div><!-- .forms -->