<h1>New Account</h1>

<%= form_tag do %>

  <div class='field'>
    <%= label_tag 'Child:' %>
    <%= select("new_account", "child_id", @auth.family.members.where(:is_parent => 'false').collect {|p| [ p.first_name, p.id ] }, {:prompt => 'Select Child'}) %>
  </div>

  <div class='field'>
    <%= label_tag 'Name:' %>
    <%= text_field_tag 'new_account[name]' %>
  </div>

  <div class='field'>
    <%= label_tag 'Category:' %>
    <%= select('new_account', 'category', [['Spending','spending'],['Savings','savings'],['Charitable','charitable']]) %>
  </div>

  <div class='field'>
    <%= label_tag 'Starting balance:' %>
    <%= text_field_tag 'new_account[balance]' %>
  </div>

  <div class='field'>
    <%= submit_tag %>
  </div>

<% end %>